# Introduction
## Senate Vote By State

This is general information about reporting votes to presidential race by state and its summary statistics.

In [1]:
import pandas as pd

df = pd.read_csv('senate_state.csv')
df

             state  total_votes
0         Delaware       490935
1          Georgia      4952440
2            Idaho       858826
3         Illinois      5969702
4             Iowa      1670617
5           Kansas      1367755
6         Kentucky      2134667
7        Louisiana      2071543
8            Maine       819183
9    Massachusetts      3564136
10        Michigan      5479708
11       Minnesota      3211995
12     Mississippi      1312037
13         Montana       605637
14        Nebraska       979339
15   New Hampshire       795603
16      New Jersey      4443684
17      New Mexico       917237
18  North Carolina      5474951
19        Oklahoma      1556361
20          Oregon      2321249
21    Rhode Island       493429
22  South Carolina      2512810
23    South Dakota       420219
24       Tennessee      2959697
25           Texas     11144040
26        Virginia      4400699
27   West Virginia       778918
28         Wyoming       270866
29         Alabama      2316445
30          Alaska       354587
31         Arizona      3355317
32        Arkansas      1193261
33        Colorado      3235659
34         Georgia      4914395

In [2]:
# No. of Senate vote records
count = df['state'].count()
print('No. of Senate vote records: ')
print(count)

No. of Senate vote records:
35

In [3]:
# Average no. of senate vote by state
avg = df['total_votes'].mean()
print('Average no. of votes by state: ')
print(avg.round(2))

Average no. of votes by state:
2552798.49